<p *ngIf="userName">
  {{userName}} To Do List
</p>
<input type="text" [(ngModel)]="task">&nbsp;
<button (click)="addTask(task)">Add Task</button><br>

<table border="2">
  <tr> 
    <th>Task
    </th>
    <th>Status
    </th>
    <th>Date
    </th>
    <th>Edit
    </th>
    <th>Delete
    </th>
    <th>Save
      </th>
  </tr>
  <tr *ngIf="user">
    <td>{{user.task}}</td>
    
    <td><select value="status" [(ngModel)]="status"><option value="complete">Complete</option>

      <option value="incomplete">Incomplete</option></select></td>
      <td>{{user.ddate}}</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>
    <td><button (click)="onSave()">save</button></td>
      </tr>
</table>
