<p class="txt-su">
  login works!
</p>
<h2>Login</h2>
<form  (ngSubmit)="onSignin(f)" #f="ngForm">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="userName" class="form-control" id="userName" ngModel />
        
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" ngModel  />  
            </div>
    <div class="form-group">
        <button class="btn btn-primary" >Login</button>
    
        <a  class="btn btn-link">Register</a>
    </div>
</form>
<div *ngIf="users">{{users}}</div>